<hr />
<form (submit)="addTask(title.value); title.value = ''; $event.preventDefault()">
  <div>
    <input id="title" type="text" placeholder="New task" autocomplete="off" #title>
    <button class="minimal" type="submit">Submit</button>
  </div>
</form>

<hr />

<div class="row" cdkDropListGroup>
  <div class="column">
    <b>To Do</b>
    <div class="container" cdkDropList id="col_to_do"
         [cdkDropListData]="todoTasks"
         (cdkDropListDropped)="onDrop($event)">
      <div *ngFor="let task of todoTasks" cdkDrag class="task_todo">
        <button class="task-button" type="button" (click)="deleteTask(task._id)">
          <img src="assets/img/delete.png" alt="delete"/>
        </button>
        {{task.title}}
      </div>
    </div>
  </div>
  <div class="column">
    <b>Doing</b>
    <div class="container" cdkDropList id="col_doing"
         [cdkDropListData]="doingTasks"
         (cdkDropListDropped)="onDrop($event)">
      <div *ngFor="let task of doingTasks" cdkDrag class="task_doing">
        <button class="task-button" type="button" (click)="deleteTask(task._id)">
          <img src="assets/img/delete.png" alt="delete"/>
        </button>
        {{task.title}}
      </div>
    </div>
  </div>
  <div class="column">
    <b>Done</b>
    <div class="container" cdkDropList id="col_done"
         [cdkDropListData]="doneTasks"
         (cdkDropListDropped)="onDrop($event)">
      <div *ngFor="let task of doneTasks" cdkDrag class="task_done">
        <button class="task-button" type="button" (click)="deleteTask(task._id)">
          <img src="assets/img/delete.png" alt="delete"/>
        </button>
        {{task.title}}
      </div>
    </div>
  </div>
</div>
