<hr />
<form (submit)="addTask(title.value);">
  <div>
    <label for="title">New Task: </label>
    <input id="title" type="text" #title >
    <button type="submit" value="Submit">Submit</button>
  </div>
</form>

<hr />

<div class="row">
  <div class="column">
    <b>To Do</b> 
    <div class="container" column-id="col_to_do" [dragula]='"bag-task1"' [dragulaOptions]='Options'>
      <ng-container *ngFor="let task of tasks" >
          <div *ngIf="(task.state == 'To Do')" id="{{task._id}}" class="task">{{task.title}}</div>
      </ng-container>
    </div>
  </div>
  <div class="column">
    <b>Doing</b>
    <div class="container" column-id="col_doing" [dragula]='"bag-task1"' [dragulaOptions]='Options'>
      <ng-container *ngFor="let task of tasks">
        <div *ngIf="(task.state == 'In Progress')" id="{{task._id}}" class="task">{{task.title}}</div>
      </ng-container>
    </div>
  </div>
  <div class="column">
    <b>Done</b>
    <div class="container" column-id="col_done" [dragula]='"bag-task1"' [dragulaOptions]='Options'>
        <ng-container *ngFor="let task of tasks">
            <div *ngIf="(task.state == 'Done')" id="{{task._id}}" class="task">{{task.title}}</div>
        </ng-container>
    </div>
  </div>
</div>